/*===== Google Fonts =====*/
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

/*===== Global CSS =====*/

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    transition: background-color 0.6s ease, color 0.6s ease;
}


 :root
 {
    --main-color:#00308F;
    --shadow-black-100:0 5px 15px rgba(0,0,0,0.2);
    --white: white;
    --black:#000;
 }

html
{
    scroll-behavior: smooth;
    height: 100%;
}

body
{
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: normal;
    overflow-x: hidden;
    background-color: var(--white);
}

/* navigation */

nav {
  width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0047AB;
    height: 3rem;
    border-bottom: 2px solid white;
    position: fixed;
    z-index: 2;
    padding: 15px 20px;
    transition: all 0.5s ease;
}

.navbar.sticky
{
    background-color: var(--main-color);
    box-shadow: var(--shadow-black-100);
}


.menu-btn {
    display: none;
   color: white;
    background-color: var(--main-color);
    height: 34px;
    width: 44px;
    box-shadow: var(--shadow-black-100);
    padding: 0;
    border-radius: 5px;
    line-height: 34px;
    text-align: center;
    font-size: 17px;
}

.navbar .menu .nav-item
{
    display: inline-block;
    position: relative;
}

.navbar .menu .nav-item .nav-link
{
    color: var(--white);
    font-size: 16px;
    font-weight: 600;
    display: block;
    text-transform: capitalize;
    padding: 10px 0;
}
.navbar.sticky .menu .nav-item .nav-link
{
    color: var(--white);
}

.navbar.sticky .menu-btn
{
    color: var(--main-color);
    background-color: var(--white);
}

.nav_search {
    width: 18rem;
    height: 2rem;
    padding: 0.5rem;
    border: none;
    border-radius: 10px;
}

nav .logo a {
    font-size: 24px;
    color: white;
    font-weight: 600;
    text-transform: capitalize;
}

.links {
    display: flex
}

.links li {
      display: inline-block;
      padding: 0 5px;
}

.links li a {
    color: white;
}

.links li a:hover {
  color: yellow;
}

.links .profile-pic, .links .logout {
    display: none;
  }

  .profile-pic, .logout {
    display: block;
  }

.small {
  display: none;
}

.landing_image {
  width: 100vw;
  height: 20rem;
  background: 
     linear-gradient(
        to right, 
        rgb(0, 0, 0),
        rgba(34, 106, 180, 0.2)

    ), 
      url('../images/background\ images/happy2.jpg') right ;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 5rem 0;
    transition: all 0.5s ease;
}

.landing_content {
  width: 50%;
  color: white;
  padding: 10px;
  line-height: 2.5rem;
  text-transform: uppercase;
}

.landing_content h4{
  margin: 15px 0;
}

.section {
  display: flex;
  width: 100vw;
  padding: 1rem;
}

.left_section {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  width: 55%;
}
.movies {
  padding-top: 2rem;
}

.movies h2 {
padding:1rem 0.5rem;
text-transform: uppercase;
font-weight: bolder;
}


/* Slider */

.slider {
  background-color: #ccc;
  padding: 8px 12px;
  width: 100%;
  height: 520px;
  display:grid;
  place-items: center;
  overflow: hidden;
}

.slide-track {
  display: flex;
  height: 100%;
  width: auto;
  perspective: 100px;
  animation: 25s linear 2s infinite alternate scroll;
}

.slide-track:hover {
  animation-play-state: paused;
}


@keyframes scroll {
  0% {
    transform: translateX(0)
  }

  100% {
    transform: translateX(calc(-400px * 4));
  }
}
 
.card-slides {
  height: 500px;
  width: 300px ;
  display: flex;
  flex-direction: column;
  align-items: center;
   background-color:var(--white) ;
   border: 2px solid black;
  border-radius: 11px;
  padding:5px 5px;
  margin: 0 10px;
   transition: transform 1s ;
 
}
.card-slides:hover {
    box-shadow: 0 3px 10px var(--main-color);
    transform :translateZ(1px);
}

.card-slides img {
  width: 100%;
  height: 100%;
}

.card-slides h3 {
  margin-top: 5px;
}

.movie-rating, .series-rating {
  display: flex;
  justify-content: center;
  align-items: center;
}

.movie-rating p, .series-rating p {
  color: var(--main-color);
  text-transform: capitalize;
  font-size: 18px;
  font-weight: bold;
}


.series {
  margin: 10px 0;
  padding-top: 2rem;
}

/* star rating icons */

.series h2 {
padding: 1rem 0.5rem;
text-transform: uppercase;
font-weight: bolder;
}

/* star ratings */

.star-rating{
	font-size: 0;
  padding: 0 8px;
}

.star-rating__wrap{
	display: inline-block;
	font-size: 1rem;
}
.star-rating__wrap:after{
	content: "";
	display: table;
	clear: both;
}

.star-rating__wrap label{
  padding: 0 4px;
}
.star-rating__ico{
	float: right;
	padding-left: 2px;
	cursor: pointer;
	color: #FFB300;
}
.star-rating__ico:last-child{
	padding-left: 0;
}
.star-rating__input{
	display: none;
}
.star-rating__ico:hover:before,
.star-rating__ico:hover ~ .star-rating__ico:before,
.star-rating__input:checked ~ .star-rating__ico:before
{
	content: "\f005";
}


/* FAQS */

.faq {
  overflow-y: hidden;
  margin-bottom: 30px;
  padding-top: 2rem;

}

.faq h2 {
padding: 1rem 0.5rem;
text-transform: uppercase;
font-weight: bolder;
}

.accordion {
  border: 1px solid #ccc;
  margin: 20px 0;
}

.accordion-item {
  border-bottom: 1px solid #ccc;
}

.accordion-title {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #f2f2f2;
  font-weight: bold;
  cursor: pointer;
}

.accordion-content {
  padding: 10px;
  display: none;
}

.show {
  display: block;
}

.none {
  display: none;
}

.right_section {
  display: flex;
  flex-direction: column;
  padding:0 20px;
  margin:0 10px;
  width: 45%;
}

.top-stories {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-top: 2rem;
}

.top-stories h2 {
padding: 1rem 0;
text-transform: uppercase;
font-weight: bolder;
}

.stories {
  border: 2px solid black;
  display: flex;
  flex-direction: column;
}

.story {
  display: flex;
  margin: 2px ;
  border: 2px solid black;
}

.story img {
  width: 18rem;
  height: 16rem;
  margin: 3px;
  
}
.story-body {
  padding:0 10px;
}
.story-body h3 {
  text-transform: uppercase;
  font-weight: bold;
  padding: 7px 0;
  border-bottom: 1px solid black;
}

.story-body p {
  padding: 7px 0;
  font-weight: normal;
}
.story-body button {
  height: 3rem;
  width: 100%;
 text-align: center;
  /* margin-right: 2rem; */
  margin-bottom: 4px;
  text-transform: capitalize;
  font-size: 1rem;
  color: white;
  background-color: black;
  border-radius: 5px;
}

.story-body button:hover {
  background-color: var(--main-color);
}

.upcoming-events {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  margin-top: 1rem;
 
}

.events-body {
  border: 2px solid black;
   padding-bottom: 2px;
  padding-left: 2px;
  padding-top: 2px;
}
.upcoming-events h2 {
padding: 1rem 0;
text-transform: uppercase;
font-weight: bolder;
}

.events {
  display: flex;
  padding: 0 8px;
  max-width: 100%;
  border-top: 2px solid black;
  border-left: 2px solid black;
  border-bottom: 2px solid black;
}

.events1 {
  margin-bottom: 2px;
}

.event-info {
  display: flex;
  flex-direction: column;
  padding: 0 2px;
  width: 50%;
}

.event-info img{
   width: 18rem;
  height: 14rem;
  padding: 3px;
}
.event-info h3, p{
  text-transform: capitalize;
  padding-top: 5px;
  font-weight: bold;
}

.event-info p .date {
color: red;
text-transform: capitalize;
}

.event-info p .place {
text-transform: uppercase;
color: var(--main-color);
padding: 0 5px;
border-left: 3px solid var(--main-color);
}

footer{
  width: 100vw;
  background-color: var(--main-color);
  color: white;
  margin-top: 30px;
  padding: 12px;
}

.first-row  {
display: flex;
  padding: 10px 8px;
justify-content: space-between;
}

.first-row .socials {
  display: flex;
  padding: 0 10px;
}

.first-row .socials a img {
  width: auto;
  height: 30px;
  padding: 0 10px;
  background: transparent;
}

.second-row {
  display: flex;
  justify-content: space-between;
  padding: 10px 8px;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
}

.second-row .content {
  display: flex;
  flex-direction: column;
}
.second-row .content h3{
  padding: 5px 0;
  text-transform: capitalize;
}

.second-row .content ul li, a {
  list-style-type: none;
  color: white;
    padding: 5px 0;
    text-transform: capitalize;
}

.third-row {
  display: flex;
    justify-content: space-between;
  padding: 10px;
}
.third-row .copyright{
  display: flex;
}

.third-row .copyright p{
  padding-right: 6px;
}

.mode {
  display: flex;
  justify-content: space-around;

}
.mode li {
  margin: 0 15px;
}


/* Media Queries */

@media(max-width:1300px) {


.landing_content h2,h4 {
  width: 20rem;
}

.event-info {
  flex-wrap: wrap;
}
.event-info img {
  width: 100%;
}
}
@media (max-width:1025px) {
  
  .section {
    width: 100vw;
    flex-direction: column;
    flex-wrap: wrap;
  }

.left_section, .right_section {
  width: 100%;
  overflow-x: hidden;
  margin: 5px;
}

.story-body button {

  margin-top: 1rem;
}
}



@media(max-width: 991px) {

.small {
  position: fixed;
  display: flex;
  flex-direction: column;
  left: -100vw;
  width: 100vw;
  padding: 60px 20px;
  justify-content: center;
  align-items: center;
  top: 3rem;
  background-color: var(--main-color);
  color: white;
  z-index: 2;
  transition: all 0.7s ease;
}
.small.active {
left: 0;
}

.small .profile {
display: none;
}

.small .menu {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding-top: 20px;
}
 
  
  .small .menu li {
  padding: 5px 0;
  margin: 5px 0;
      }
  }


@media(max-width: 769px) {
  
.links {
  display: none;
}


 
nav .links .profile-pic, nav .links .logout {
    display: block;
  }

  
  .navbar .menu-btn
    {
        display: block;
        z-index: 999;
    } 
  }

@media(max-width: 541px){
.small .profile {
display: flex;
width: 100%;
justify-content: space-between;
}

  .links .profile-pic, .links .logout {
    display: block;
  }

.events .second {
  width: 100%;
  padding: 5px 0;
  border-top: 2px solid black;
}

.event-info {
  flex-wrap: wrap;
}

.story, .events {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 8px 0;
}

.event-info img, .story img {
  width: 28rem;
}

footer .second-row, .third-row {
  display: grid;
  grid-template-columns: 1fr 1fr ;
  gap: 1.5rem;
}
.third-row .copyright{
  flex-direction: column;
}
}


@media(max-width: 415px){

.nav_search {
    display: none;
}

.nav_search2 {
    width: 18rem;
    height: 2rem;
    padding: 0.5rem;
    border: none;
    border-radius: 10px;
}

  .logout {
    display:none ;
  }

  .profile-pic {
    display: none;
  }

.landing_content h2,h4 {
  width: 18rem;
  line-height: 2rem;
}


  .section {
    width: 100vw;
      flex-direction: column

  }

.left_section, .right_section {
  width: 100%;
  overflow-x: hidden;
  margin: 5px;
  margin-left: 3px;
}

.slider {
  margin: 0 3px;
  transform: scale(0.85);
}
  .upcoming-events {
    width: 100%;
    margin: 6px 0;
  }

  .movies {
  padding-top: 0;
  }


.story, .events {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0 4px;
  padding: 8px 0;
}

.events .second {
  width: 100%;
  padding: 5px 0;
  border-top: 2px solid black;
}

.event-info {
  flex-wrap: wrap;
}

.event-info img, .story img {
  width: 19rem;
}

}

@media(max-width: 376px) {

  .section {
    width: 100vw;
      flex-direction: column

  }

.left_section, .right_section {
  width: 100%;
  overflow-x: hidden;
  margin: 5px;
}

.right_section {
  padding:0 ;
  margin:0;
}
.event-info img{
 width: 19rem;
  height: 14rem;
}


}

@media(max-width: 321px) {

  
.nav_search {
    width: 10rem;
}

.event-info img{
 width: 16rem;
  height: 12rem;
}
}


@media(max-width: 281px){
.event-info img .story img{
 width: 8rem;
  height: 8rem;
}
}

